body {
  font-family: "Tahoma, sans-serif";
  background-color: #eee;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #c0c0c0;
  text-align: center;
  font-family: arial;
  font-size: 14px;
}
#everything {
  width: 960px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  text-align: left;
  height: 500px;
}
#navigation {
  font-variant: small-caps;
}
table {
  font-size: 14px;
}
table th {
  text-align: left;
  font-variant: small-caps;
}
h1,
h2,
h3,
h4 {
  font-variant: small-caps;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4 {
  font-size: 13px;
}
#leftpanel,
#rightpanel {
  margin: 10px;
  float: left;
  height: 500px;
}
#leftpanel {
  width: 220px;
}
#rightpanel {
  width: 700px;
}
#leftpanel h1:first-child {
  margin-top: 0px;
}
